<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <button on-click="obtenerClientes">Obtener Clientes</button>
        </div>
        <div>
        <table>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
<!--                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>   -->
                <td>[[item.idcliente]]</td>
                <td>[[item.nombre]]</td>
                <td>[[item.apellido]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties()
      {
        return {

            clientes:{
                type:Array,
                notify:true
                      }
              };
          }
      obtenerClientes()
      {
          var request = new XMLHttpRequest();
        //  request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
          request.open("GET","http://localhost:3002/movimientos", false);
          request.send();
          console.log(request.response);
          // this.clientes = JSON.parse(request.responseText).value;
          this.clientes = JSON.parse(request.response);
          console.log(this.clientes);

      }
      insertarCliente()
      {
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {
            "CustomerID":"12345","ContactName":"Hec","CompanyName":"BBVA"
        };
        var body =JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta= request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
